table {
    border-collapse: collapse;
}

th,
tr,
td {
    border: 1px solid #000;
    width: 150px;
    height: 45px;
    vertical-align: middle;
    text-align: center;
}

th {
    color: #fff;
    background-color: #252525;
}

tr:nth-child(odd) td {
    background-color: #eee;
}

.link {
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    /* IMPORTANTE */

}